<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysh.rn.printet">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--地理位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:allowBackup="true">

        <service android:name=".BtService" />
    </application>

</manifest>
